// Banner ------------------------------------------
section.banner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	height: 323px;
	position: relative;

	// Text content
	.text-container {
		margin: 35px 0 0 62px;

		// FAMILY DAY heading
		.heading {
			text-transform: uppercase;
			color: $white;
			font-size: 2rem;
		}

		.date {
			margin-top: 10px;
			color: $white;
			font-size: 0.875rem;
		}

		.description {
			margin-top: 20px;
			font-size: 1rem;
			color: $white;
			width: 415px;
		}

		// Get your tickets button
		.button {
			margin-top: 50px;
			display: block;
			padding: 10px 12px;
			width: fit-content;
			background-color: $primary-blue;
			border-radius: 50px;
			color: $white;
			font-size: 1rem;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				background-color: $primary-green;
			}
		}
	}

	// Background image
	.image-container {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -10;

		// Graident overlay
		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				90deg,
				#000000 42.43%,
				rgba(0, 0, 0, 0) 100%
			);
			opacity: 0.4;
		}

		// Tunnel image
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center -130px;
		}
	}
}

// Scavenger section ------------------------------------------
section.scavenger {
	margin: 50px auto;
	width: 900px;

	.heading {
		font-size: 1.5rem;
		color: $light-black;
		font-weight: 700;
	}

	.date {
		display: block;
		margin: 5px 0 20px 0;
		color: $secondary-blue;
		font-size: 1rem;
	}

	.content {
		line-height: $para-line-height;

		ul {
			margin-left: 2rem;
		}
	}
}

// Animal Enrichment section ------------------------------------------
section.enrichment {
	.heading-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
		padding: 25px 0;
		background-color: $primary-blue;
		width: 100%;

		.heading {
			width: 900px;
			text-align: start;
			color: $white;
			font-size: 1.5rem;
			font-weight: 700;
		}

		.description {
			width: 900px;
			line-height: $para-line-height;
			color: $white;
		}
	}

	.day-container {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		justify-content: space-between;
		align-items: center;
		width: 900px;
		margin: 2rem auto;

		.day {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
			position: relative;
			padding: 30px;
			max-width: 440px;

			.heading {
				color: $white;
			}

			.time-container {
				.time {
					margin: 0.5rem 0;

					&::marker {
						color: $white;
					}

					span {
						color: $white;
					}
				}
			}

			.image-container {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;

				.overlay {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					opacity: 70%;
					background-color: $light-black;
					z-index: -2;
				}

				img {
					position: absolute;
					top: 0;
					right: 0;
					object-fit: cover;
					width: 100%;
					min-height: 100%;
					max-height: 100%;
					z-index: -3;
				}
			}
		}
	}
}

// More information -------------------
section.moreinfo {
	margin: 2rem auto;
	width: 900px;

	.heading {
		font-size: 1.5rem;
		font-weight: 700;
		color: $light-black;
	}

	.date {
		display: block;
		margin: 5px 0 10px 0;
		color: $secondary-blue;
		font-size: 1rem;
	}

	.description {
		margin-bottom: 2rem;
		color: $light-black;
		line-height: $para-line-height;
	}
}

// Membership discount -----------
section.information-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 100%;
	padding: 30px 0;
	background-color: $secondary-green;

	.container {
		width: 900px;
		margin: 0 auto;

		.heading {
			margin-bottom: 0.5rem;
			font-size: 1.5rem;
			color: $white;
			font-weight: 700;
		}

		.description {
			color: $white;
			font-size: 1rem;
			line-height: $para-line-height;
		}
	}
}

// Main page ticket section -----------
section.ticket-section {
	width: 900px;
	margin: 2rem auto;

	.heading {
		margin-bottom: 0.5rem;
		font-size: 1.5rem;
		font-weight: 700;
		color: $light-black;
	}

	.note {
		color: $secondary-blue;
	}

	.form {
		width: fit-content;
		padding: 1rem 2rem;
		background-color: $gray;
		margin-top: 2rem;

		.input-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 10px;

			span {
				font-size: 1.25rem;
			}

			.type-group {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				gap: 15px;
			}

			.continue-btn {
				background-color: $primary-blue;
				color: $white;
				padding: 0.5rem 1rem;
				margin: 1rem 0;
				border-radius: 50px;
				cursor: pointer;
				border: none;

				&:hover,
				&:active,
				&:focus {
					background-color: $primary-green;
				}
			}
		}

		.message-container {
			display: none;
		}
	}
}
