@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  width: 900px;
}
header .container .logo {
  width: 50px;
  height: 50px;
}
header .container .menu-btn {
  display: none;
}
header .container .nav-social-conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
header .container .nav-social-conatiner .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .nav-social-conatiner .nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
header .container .nav-social-conatiner .nav-container ul .list-item {
  list-style: none;
}
header .container .nav-social-conatiner .nav-container ul .list-item:nth-child(1) a {
  color: #41713d;
}
header .container .nav-social-conatiner .nav-container ul .list-item:nth-child(2) a {
  color: #57b566;
}
header .container .nav-social-conatiner .nav-container ul .list-item:nth-child(3) a {
  color: #73b2b4;
}
header .container .nav-social-conatiner .nav-container ul .list-item:nth-child(4) a {
  color: #008bc4;
}
header .container .nav-social-conatiner .nav-container ul .list-item a {
  font-size: 1.125rem;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}
header .container .nav-social-conatiner .nav-container ul .list-item a:hover, header .container .nav-social-conatiner .nav-container ul .list-item a:focus, header .container .nav-social-conatiner .nav-container ul .list-item a:active {
  text-decoration: underline;
}
header .container .nav-social-conatiner .nav-container ul .list-item a.active {
  text-decoration: underline;
}
header .container .nav-social-conatiner .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
header .container .nav-social-conatiner .social-container svg {
  width: auto;
  height: 25px;
  cursor: pointer;
}
header .container .nav-social-conatiner .social-container svg path {
  fill: #343434;
}
header .container .nav-social-conatiner .social-container svg:hover path, header .container .nav-social-conatiner .social-container svg:focus path, header .container .nav-social-conatiner .social-container svg:active path {
  fill: #008bc4;
}

@media (max-width: 1024px) {
  header .container {
    width: 600px !important;
  }
  header .container .logo {
    width: 35px !important;
    height: 35px !important;
  }
  header .container .nav-social-conatiner {
    gap: 50px !important;
  }
  header .container .nav-social-conatiner .nav-container ul {
    gap: 20px !important;
  }
  header .container .nav-social-conatiner .nav-container ul .list-item a {
    font-size: 1rem !important;
  }
  header .container .nav-social-conatiner .social-container svg {
    height: 20px !important;
  }
}
@media (max-width: 768px) {
  header {
    position: relative;
    overflow: hidden;
    z-index: 200;
  }
  header .container {
    width: 270px;
  }
  header .container .logo {
    width: 25px !important;
    height: 25px !important;
  }
  header .container .menu-btn {
    display: block !important;
    width: 20px;
    height: 20px;
  }
  header .container .nav-social-conatiner {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    height: calc(100vh - 3rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 200;
    padding-top: 3rem;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  header .container .nav-social-conatiner.active {
    right: 0;
  }
  header .container .nav-social-conatiner .nav-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  height: 323px;
  position: relative;
}
section.banner .text-container {
  margin: 35px 0 0 62px;
}
section.banner .text-container .heading {
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
}
section.banner .text-container .date {
  margin-top: 10px;
  color: #fff;
  font-size: 0.875rem;
}
section.banner .text-container .description {
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
  width: 415px;
}
section.banner .text-container .button {
  margin-top: 50px;
  display: block;
  padding: 10px 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #008bc4;
  border-radius: 50px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
section.banner .text-container .button:hover, section.banner .text-container .button:focus, section.banner .text-container .button:active {
  background-color: #57b566;
}
section.banner .image-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
section.banner .image-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(42.43%, #000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, #000000 42.43%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, #000000 42.43%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.4;
}
section.banner .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center -130px;
     object-position: center -130px;
}

section.scavenger {
  margin: 50px auto;
  width: 900px;
}
section.scavenger .heading {
  font-size: 1.5rem;
  color: #343434;
  font-weight: 700;
}
section.scavenger .date {
  display: block;
  margin: 5px 0 20px 0;
  color: #73b2b4;
  font-size: 1rem;
}
section.scavenger .content {
  line-height: 150%;
}
section.scavenger .content ul {
  margin-left: 2rem;
}

section.enrichment .heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 25px 0;
  background-color: #008bc4;
  width: 100%;
}
section.enrichment .heading-container .heading {
  width: 900px;
  text-align: start;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
section.enrichment .heading-container .description {
  width: 900px;
  line-height: 150%;
  color: #fff;
}
section.enrichment .day-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  margin: 2rem auto;
}
section.enrichment .day-container .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
  padding: 30px;
  max-width: 440px;
}
section.enrichment .day-container .day .heading {
  color: #fff;
}
section.enrichment .day-container .day .time-container .time {
  margin: 0.5rem 0;
}
section.enrichment .day-container .day .time-container .time::marker {
  color: #fff;
}
section.enrichment .day-container .day .time-container .time span {
  color: #fff;
}
section.enrichment .day-container .day .image-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section.enrichment .day-container .day .image-container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 70%;
  background-color: #343434;
  z-index: -2;
}
section.enrichment .day-container .day .image-container img {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  z-index: -3;
}

section.moreinfo {
  margin: 2rem auto;
  width: 900px;
}
section.moreinfo .heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: #343434;
}
section.moreinfo .date {
  display: block;
  margin: 5px 0 10px 0;
  color: #73b2b4;
  font-size: 1rem;
}
section.moreinfo .description {
  margin-bottom: 2rem;
  color: #343434;
  line-height: 150%;
}

section.information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
  padding: 30px 0;
  background-color: #41713d;
}
section.information-container .container {
  width: 900px;
  margin: 0 auto;
}
section.information-container .container .heading {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}
section.information-container .container .description {
  color: #fff;
  font-size: 1rem;
  line-height: 150%;
}

section.ticket-section {
  width: 900px;
  margin: 2rem auto;
}
section.ticket-section .heading {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #343434;
}
section.ticket-section .note {
  color: #73b2b4;
}
section.ticket-section .form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #ebebeb;
  margin-top: 2rem;
}
section.ticket-section .form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
section.ticket-section .form .input-container span {
  font-size: 1.25rem;
}
section.ticket-section .form .input-container .type-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 15px;
}
section.ticket-section .form .input-container .continue-btn {
  background-color: #008bc4;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}
section.ticket-section .form .input-container .continue-btn:hover, section.ticket-section .form .input-container .continue-btn:active, section.ticket-section .form .input-container .continue-btn:focus {
  background-color: #57b566;
}
section.ticket-section .form .message-container {
  display: none;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  width: 900px;
  margin: 0 auto;
}
footer .footer-container .nav-social-conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
footer .footer-container .nav-social-conatiner .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-container .nav-social-conatiner .nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
footer .footer-container .nav-social-conatiner .nav-container ul .list-item {
  list-style: none;
}
footer .footer-container .nav-social-conatiner .nav-container ul .list-item:nth-child(1) a {
  color: #41713d;
}
footer .footer-container .nav-social-conatiner .nav-container ul .list-item:nth-child(2) a {
  color: #57b566;
}
footer .footer-container .nav-social-conatiner .nav-container ul .list-item:nth-child(3) a {
  color: #73b2b4;
}
footer .footer-container .nav-social-conatiner .nav-container ul .list-item:nth-child(4) a {
  color: #008bc4;
}
footer .footer-container .nav-social-conatiner .nav-container ul .list-item a {
  font-size: 1.125rem;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}
footer .footer-container .nav-social-conatiner .nav-container ul .list-item a:hover, footer .footer-container .nav-social-conatiner .nav-container ul .list-item a:focus, footer .footer-container .nav-social-conatiner .nav-container ul .list-item a:active {
  text-decoration: underline;
}
footer .footer-container .nav-social-conatiner .nav-container ul .list-item a.active {
  text-decoration: underline;
}
footer .footer-container .nav-social-conatiner .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
footer .footer-container .nav-social-conatiner .social-container svg {
  width: auto;
  height: 25px;
  cursor: pointer;
}
footer .footer-container .nav-social-conatiner .social-container svg path {
  fill: #343434;
}
footer .footer-container .nav-social-conatiner .social-container svg:hover path, footer .footer-container .nav-social-conatiner .social-container svg:focus path, footer .footer-container .nav-social-conatiner .social-container svg:active path {
  fill: #008bc4;
}

@media (max-width: 1024px) {
  footer .footer-container {
    width: 600px !important;
  }
  footer .footer-container .logo {
    width: 35px !important;
    height: 35px !important;
  }
  footer .footer-container .nav-social-conatiner {
    gap: 50px !important;
  }
  footer .footer-container .nav-social-conatiner .nav-container ul {
    gap: 20px !important;
  }
  footer .footer-container .nav-social-conatiner .nav-container ul .list-item a {
    font-size: 1rem !important;
  }
  footer .footer-container .nav-social-conatiner .social-container svg {
    height: 20px !important;
  }
}
.confirmation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 5rem auto;
  width: 900px;
}
.confirmation-container .heading {
  font-size: 2rem;
  font-weight: 800;
}
.confirmation-container .confirmation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (max-width: 1024px) {
  section.banner .text-container {
    width: 600px;
    margin: 35px auto;
  }
  section.banner .image-container {
    overflow: hidden;
  }
  section.banner .image-container img {
    width: 1023px;
  }
  section.scavenger {
    width: 600px;
  }
  section.scavenger .heading {
    font-size: 1.25rem;
  }
  section.enrichment .heading-container .heading {
    width: 600px;
    font-size: 1.25rem;
  }
  section.enrichment .heading-container .description {
    width: 600px;
  }
  section.enrichment .day-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  section.moreinfo {
    width: 600px;
  }
  section.moreinfo .heading {
    font-size: 1.25rem;
  }
  section.information-container .container {
    width: 600px;
  }
  section.information-container .container .heading {
    font-size: 1.25rem;
  }
  section.ticket-section {
    width: 600px;
  }
}